<div id="crop" class="content">

    <h3 class="mb-2 fw-bold" data-i18n="crop_title">
        Deja de perder dinero. Empieza a secuestrar carbono.
    </h3>


    <div class="row g-4">

        <div class="col-12">

            <label class="form-label fw-semibold" data-i18n="crop_select_label">
            </label>

           <select
                id="cropType"
                class="form-select">

                <option selected disabled value="" data-i18n="crop_select_placeholder">
                    Elige un cultivo...
                </option>

                {% for crop in crops %}

                    <option value="{{ crop.id }}">

                        {{ crop.id }}

                    </option>

                {% endfor %}

            </select>

        </div>

        <div class="col-12 col-md-6">

            <label class="form-label fw-semibold" data-i18n="crop_tons_label">
                Toneladas de biomasa residual / año
            </label>

            <div class="input-group input-group-lg">

                <input
                    id="tons"
                    type="number"
                    class="form-control"
                    placeholder="Ej. 250"
                    data-i18n-placeholder="crop_tons_placeholder"
                    min="0.01"
                    max="100000"
                    step="0.01">

                <span class="input-group-text">
                    t
                </span>

            </div>

        </div>

        <div class="col-12 col-md-6">

            <label class="form-label fw-semibold" data-i18n="crop_hectares_label">
                Hectáreas en producción
            </label>

            <div class="input-group input-group-lg">

                <input
                    id="hectares"
                    type="number"
                    class="form-control"
                    placeholder="Ej. 120"
                    data-i18n-placeholder="crop_hectares_placeholder"
                    min="0.01"
                    max="50000"
                    step="0.01">

                <span class="input-group-text">
                    ha
                </span>

            </div>

        </div>

    </div>

    <div class="d-flex justify-content-between mt-5">

        <button class="btn btn-secondary previous py-2 px-4" data-i18n="btn_back">
            Atrás
        </button>

        <button class="btn btn-agro py-2 px-4" id="calculateBtn" data-i18n="crop_calculate">
            CALCULAR MIS ACTIVOS OCULTOS
        </button>

    </div>

</div>
