<div id="stepper" class="bs-stepper shadow-card">

    <div class="bs-stepper-header">
        <div class="step" data-target="#info">

            <button class="step-trigger">

                <span class="bs-stepper-circle">1</span>

                <span class="bs-stepper-label" data-i18n="step_info">
                    Información
                </span>

            </button>

        </div>

        <div class="line"></div>

        <div class="step" data-target="#crop">

            <button class="step-trigger">

                <span class="bs-stepper-circle">2</span>

                <span class="bs-stepper-label" data-i18n="step_crop">
                    Cultivo
                </span>

            </button>

        </div>

        <div class="line"></div>

        <div class="step" data-target="#volume">

            <button class="step-trigger">

                <span class="bs-stepper-circle">3</span>

                <span class="bs-stepper-label" data-i18n="step_volume">
                </span>

            </button>

        </div>

        <div class="line"></div>

        <div class="step" data-target="#hook">

            <button class="step-trigger">

                <span class="bs-stepper-circle">4</span>

                <span class="bs-stepper-label" data-i18n="step_hook">
                    Inversión
                </span>

            </button>

        </div>

        <div class="line"></div>

        <div class="step" data-target="#roi">

            <button class="step-trigger">

                <span class="bs-stepper-circle">5</span>

                <span class="bs-stepper-label" data-i18n="step_roi">
                    ROI
                </span>

            </button>

        </div>

        <div class="line"></div>

        <div class="step" data-target="#report">

            <button class="step-trigger">

                <span class="bs-stepper-circle">6</span>

                <span class="bs-stepper-label" data-i18n="step_report">
                    Reporte
                </span>

            </button>

        </div>

    </div>

    <div class="bs-stepper-content">
        {% include "steps/info.html" %}

        {% include "steps/crop.html" %}

        {% include "steps/results.html" %}

        {% include "steps/hook.html" %}

        {% include "steps/roi.html" %}

        {% include "steps/report.html" %}

    </div>

</div>
